go 1.21.5

use (
	./cep-search
	./contexts/1
	./contexts/2
	./contexts/2/client
	./contexts/3
	./contexts/extra
	./databases/gorm
	./databases/introduction
	./events/events-utils
	./first-steps/compile
	./first-steps/packages
	./http-client/1
	./http-client/2
	./http-client/3
	./http-client/4
	./http-file-server
	./http-server
	./http-server-mux
	./multithreading/challenge
	./packging/1
	./packging/2
	./template
)
